/*
Question 1
Make the page header's background reddish
*/
.page header {
  background-color: #ff6251;
}


/*
Question 2
Make the page header's text bigger but not the menu
*/
.page header .title {
  font-size: 2rem;
}


/*
Question 3
Add a red border around all the fields
*/
.page .fields .field{
  border: 1px solid #ff6251;
}


/*
Question 4
Make the submit button's background blue
*/
.page .form-actions .btn-submit{
  background-color: #51bfff;
}


/*
Question 5
Make all the last name label's text blue
*/
.page .last-name  {
  color: #51bfff;
}


/*
Question 6
Make the section titles bolder and bigger
*/
.page .title {
  font-size: 1.5rem;
  font-weight: bolder;
}
