/*
Question 1
Make the page header's background reddish
*/
Q1 {
  background-color: #ff6251;
}


/*
Question 2
Make the page header's text bigger but not the menu
*/
Q2 {
  font-size: 2rem;
}


/*
Question 3
Add a red border around all the fields
*/
Q3 {
  border: 1px solid #ff6251;
}


/*
Question 4
Make the submit button's background blue
*/
Q4 {
  background-color: #51bfff;
}


/*
Question 5
Make all the last name label's text blue
*/
Q5 {
  color: #51bfff;
}


/*
Question 6
Make the section titles bolder and bigger
*/
Q6 {
  font-size: 1.5rem;
  font-weight: bolder;
}
